.card{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    width: 100vh;
    height: 130vh;
    margin: 20px;
    padding: 20px;
}
.fav{
    padding: 10px;
    margin: 10px;
    color: white;
}
.taj{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.tajhead{
    font-size:25px;
}
.image{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.kalamtxt{
    text-align: center;
    color: white;
    padding: 15px;
    background-color: black;
    height: 110vh;
    width: 80vh;
     
}